li.form-error {
	font-size: 0.8em;
	color: red;
}

ul.to-be-deleted {
	list-style-position: inside;
	li {
		margin: 0.3em;
	}
}

form.create-update {
	input,
	select {
		margin-top: 0.7em;

		&[type="submit"] {
			border: none;
			padding: 0.5em 0.8em;
			border-radius: 0.3em;
			cursor: pointer;
			background-color: transparentize($link-color, 0.5);

			&:hover {
				background-color: transparentize($link-color, 0.3);
			}

			&:focus {
				outline: none;
			}
		}

		&[type="text"] {
			border: solid 1px #015;
			border-radius: 0.3em;
			padding: 0.5em;
			padding-bottom: 0.3em;
		}
	}

	&.recipe {
		div.form-group {
			&.ingredients {
				margin-top: 1em;
				ul{
					list-style: none;
					display: flex;
					flex-wrap: wrap;
					padding: 0 1em 1em 1em;

					div.ingredient {
						width: 12em;
						padding-right: 1em;
						display: flex;
						justify-content: space-between;
						align-items: center;
						input.amount {
							width: 4em;
							display: block;
						}
					}
				}
			}
			&.instructions {
				label {
					display: block;
					margin-bottom: 0.3em;
				}
			}
			&.time{
				input[type="number"]{
					width: 2em;
				}
			}
		}
	}
}

form.delete {
	input[type="submit"] {
		border: none;
		padding: 0.5em 0.8em;
		border-radius: 0.3em;
		cursor: pointer;
		background-color: #dc143c77;

		&:hover {
			background-color: #dc143c;
		}
	}
}
