ul.item-list{
	display: inline-block;
	li{
		display: flex;
		justify-content: space-between;
		padding: 0.2em;

		span{
			margin: 0 1em;

			&.stock{
				@include stock-color;
			}
		}

		&:nth-child(odd){
			background-color: #eee;
		}

		&:hover{
			background-color: #ddd;
		}
	}
}