ul.recipe-list {
	list-style: none;
	padding: 1em;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-start;

	li {
		a {
			display: block;
			text-decoration: none;
			color: #000;
			padding: 2em;
			border-radius: 0.5em;
			border: 2px solid $link-color;
			position: relative;
			margin: 0.5em;

			&:hover{
				background-color: #ddd;
			}

			span {
				&.vegan-indicator {
					position: absolute;
					top: 0.2em;
					right: 0.4em;

					&[isVegan="true"] {
						color: green;
					}

					&[isVegan="false"] {
						color: red;
					}
				}
			}
		}
	}
}
