$link-color: #00b7ff;

@mixin stock-color {
	&[stock="Out"] {
		color: red;
	}
	&[stock="Low"] {
		color: orange;
	}
	&[stock="Medium"] {
		color: yellow;
	}
	&[stock="Full"] {
		color: green;
	}
}

@import "./nav";
@import "./item-list";
@import "./recipe-list";
@import "./recipe-detail";
@import "./form";
@import "./crud-container";

body {
	padding: 1em;
	margin-left: 8em;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	display: flex;
	flex-direction: column;
	user-select: none;
}

a {
	color: $link-color;

	&.discreet {
		color: #000;
		text-decoration: none;
	}
}

header {
	h1 {
		color: #016;
		display: inline-block;
	}
}

main {
	h4 {
		color: #016;
	}
}
