$link-color: #00b7ff;

@import "./nav";
@import "./item-list";
@import "./recipe-list";

body {
	padding: 1em;
	margin-left: 8em;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	display: flex;
	flex-direction: column;
	user-select: none;
}

a {
	color: $link-color;
}

a.discreet {
	color: #000;
	text-decoration: none;
}

header {
	h1 {
		color: #016;
	}
}

main {
	h4 {
		color: #016;
	}
}
